body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #444;
}

.company-name {
    font-variant: small-caps
}

/* spritesheet */
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
}

.sprite-github {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-gmail {
    width: 30px;
    height: 30px;
    background-position: -45px -5px;
}

.sprite-linkedin {
    width: 30px;
    height: 30px;
    background-position: -5px -45px;
}

.sprite-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -45px -45px;
}

.sprite-tumblr {
    width: 30px;
    height: 30px;
    background-position: -85px -5px;
}

.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -85px -45px;
}

img.profile-image {
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 2px;
}

.jumbotron {
    background-color: aliceblue;
}

.logo {
    width: 40px;
    margin: 10px;
}
